body {
    font-family: Arial, sans-serif;
    background-color: #474747;
  }
  .container {
    padding-top: 40px;
  }
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .canvas-container {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  canvas {
    display: block;
  }
  #p5-canvas-1{
    margin-bottom: 20px;
  }